<!DOCTYPE html>
<html>
<head>
    <title>Subscriptions - Balloon</title>



    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap Modal -->
    <link rel="stylesheet" href="/bootstrap-modals/bootstrap.css"/>
    <script src="/bootstrap-modals/bootstrap.js"></script>




    <link rel="stylesheet" href="/css/config.css"/>

    <!-- Material Design Lite -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/css/mdl-dash.css"/>


    <script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script type="text/javascript">
        Parse.initialize("XH75pcgt3aNDaWpZZO8auvda5aAmq9vfqFHgj0Et", "RetUyiG1raywkGL40dISTg6KK6ECJXdzy9iBGMS9");
    </script>

</head>
<body style="overflow-y: scroll">

<!-- Always shows a header, even in smaller screens. -->

<% include templates/teacher-header.ejs %>

            <!-- Your content goes here -->

            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    <a href="#mygroups-panel" class="mdl-tabs__tab is-active">My Groups</a>
                    <a href="#create-new-panel" class="mdl-tabs__tab">Create New group</a>

                </div>

                <div class="mdl-tabs__panel is-active" id="mygroups-panel">

                    <ul>
                        <% for(var i=0; i < groupData.length; ++i){ %>

                        <li><button id="<%= i %>" class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect teacher-group"><%= groupData[i] %></button></li>


                        <% } %>
                    </ul>




                </div>
                <div class="mdl-tabs__panel" id="create-new-panel">
                    <form id="create-new-form">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="new-group-name" />
                            <label class="mdl-textfield__label" for="new-group-name">New Group Name</label>
                        </div>
                        <br/>
                        <input type="submit" value="Create New Group" class="mdl-button mdl-js-button mdl-button--accent"/>
                    </form>
                </div>

            </div>






<% include templates/teacher-footer.ejs %>









<!-- TODO: Bootstrap Modal -->

<div class="modal fade" id="show-group-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Group Details</h4>
            </div>
            <div class="modal-body">
                <div id="mount-here">

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="mdl-button mdl-js-button" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    // Set the session on the client side
    var currentUser;
    var pointerUser;

    Parse.User.become("<%= token %>").then(function(user){

        pointerUser = user;

        user.fetch().then(function(fullUser){

            currentUser = fullUser;

        });




    });

    $('.teacher-group').on("click",function(ev){

        $('#show-group-modal').modal('show');
        $('#mount-here').html('<div class="mdl-spinner mdl-js-spinner is-active"></div>');
        componentHandler.upgradeDom();

        var id = $(this).attr('id');

        var groups = currentUser.get("groups");

        var subQuery = new Parse.Query(Parse.Object.extend("subscriptions"));
        subQuery.equalTo("sub_to",pointerUser.get("isTeacher"));
        subQuery.equalTo("groupName",groups[id]);
        subQuery.include("sub_by");
        subQuery.find({

            success:function(abc){

                $('#mount-here').empty();

                if(abc.length === 0)
                {
                    $('#mount-here').html('<div>No Subscribers for this group</div>');
                }
                else
                {

                    var tableStarter = '<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"><thead><tr><th>SID</th><th>Name</th><th>Branch</th></tr></thead><tbody>';

                    for(var i = 0 ; i < abc.length; ++i){

                        var temp = '<tr><td>' + abc[i].get("sub_by").attributes.sid + '</td><td>' + abc[i].get("sub_by").attributes.first_name + '</td><td>' + abc[i].get("sub_by").attributes.branch + '</td></tr>';

                        tableStarter += temp;
                    }

                    tableStarter += '</tbody></table>';

                    $('#mount-here').html(tableStarter);
                    componentHandler.upgradeDom();

                }




            },
            error:function(u,e){


            }

        });





    });


    $('#show-group-modal').on('hide.bs.modal',function(ev){

        $('#mount-here').empty();

    });

    $('#create-new-form').on("submit",function(ev){

        ev.preventDefault();

        var groupName = $('#new-group-name').val();
        console.log('g name: ' + groupName);

        var groups = currentUser.get("groups");
        console.log('original array: ' + groups);

        if(groupName.length != 0)
        {
            if($.inArray(groupName,groups) == -1)
            {
                groups.push(groupName);
                console.log(groups);
                currentUser.set("groups",groups);
                currentUser.save().then(window.location.reload());
            }


        }


    });






</script>

</body>
</html>